//Copyright (C)2014-2026 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.03
//Part Number: GW5AST-LV138FPG676AES
//Device: GW5AST-138
//Device Version: B
//Created Time: Wed 07 29 15:18:48 2026

IO_LOC "PMOD_DTx2_out[7]" H15;
IO_PORT "PMOD_DTx2_out[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PMOD_DTx2_out[6]" H14;
IO_PORT "PMOD_DTx2_out[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PMOD_DTx2_out[5]" L18;
IO_PORT "PMOD_DTx2_out[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PMOD_DTx2_out[4]" L17;
IO_PORT "PMOD_DTx2_out[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PMOD_DTx2_out[3]" D25;
IO_PORT "PMOD_DTx2_out[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PMOD_DTx2_out[2]" E25;
IO_PORT "PMOD_DTx2_out[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PMOD_DTx2_out[1]" B24;
IO_PORT "PMOD_DTx2_out[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PMOD_DTx2_out[0]" C24;
IO_PORT "PMOD_DTx2_out[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "inc_btn_i" K16;
IO_PORT "inc_btn_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rst_btn_i" F15;
IO_PORT "rst_btn_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk_i" P16;
IO_PORT "clk_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
